@import '../utilities.scss';
$main_breakpoint: 890px;

.home-container {

    padding: 15px;
    min-height: calc(100vh - 40px);

    display: flex;
    flex-direction: column;

    @include breakpoint($main_breakpoint) {
        min-height: calc(100vh - 50px);
    }
    
    h1 {
        margin-top: 20px;
        text-align: center;

        @include breakpoint(890px) {
            margin-top: 40px;
        }
    }

    &__construction {

        margin: 40px 0;

        @include breakpoint(700px) {
            margin: 80px 0 70px 0;
        }
        
        &-img {

            max-width: 700px;
            margin: 0 auto 25px auto;

            :nth-child(1) {
                display: block;
                margin: 0 auto 20px auto;
                width: 40%;
                max-width: 200px;
            }

            :nth-child(2) {
                width: 100%;
            }
        }

    }

    &__subpages {
        
        margin: auto 0 20px 0;

        &-link {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;

            a {

                width: 50px;

                @include breakpoint($main_breakpoint) {
                    width: 70px;
                }

                img {
                    width: 100%;
                }

            }
        }
    }
}