@mixin breakpoint($width) {
  @media (min-width: $width) {
    @content;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.mySwiper {
  width: 100%;

  &:hover {
    .swiper-button-next, .swiper-button-prev {
      opacity: 1 ;
    }

    .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
      opacity: 0.5;
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 100% !important;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;

    outline: 2px solid black;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: white;
  }

  .swiper-button-next, .swiper-button-prev {
    display: none;
    color: white;

    opacity: 0 ;
    transition: opacity 0.1s;

    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 480'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='m96,192h-32v32h32v-32Zm32-32h-32v32h32v-32Zm32-32h-32v32h32v-32Zm32-32h-32v32h32v-32Zm32-32h-32v32h32v-32Zm32-32h-32v32h32v-32ZM288,0h-32v32h32V0Zm-32,480h32v-32h-32v32Zm-32-32h32v-32h-32v32Zm-32-32h32v-32h-32v32Zm-32-32h32v-32h-32v32Zm-32-32h32v-32h-32v32Zm-32-32h32v-32h-32v32Zm-32-32h32v-32h-32v32Zm0-64h-32v32h32v-32Z'/%3E%3Cpath d='m64,224h-32v-32h32v32Zm64-32h-32v32h32v-32Zm-32-32h-32v32h32v-32Zm64,0h-32v32h32v-32Zm-32-32h-32v32h32v-32Zm64,0h-32v32h32v-32Zm-32-32h-32v32h32v-32Zm64,0h-32v32h32v-32Zm-32-32h-32v32h32v-32Zm64,0h-32v32h32v-32Zm-32-32h-32v32h32v-32Zm64,0h-32v32h32v-32ZM256,0h-32v32h32V0Zm64,0h-32v32h32V0Zm-32,480h32v-32h-32v32Zm-64,0h32v-32h-32v32Zm32-32h32v-32h-32v32Zm-64,0h32v-32h-32v32Zm32-32h32v-32h-32v32Zm-64,0h32v-32h-32v32Zm32-32h32v-32h-32v32Zm-64,0h32v-32h-32v32Zm32-32h32v-32h-32v32Zm-64,0h32v-32h-32v32Zm32-32h32v-32h-32v32Zm-64,0h32v-32h-32v32Zm32-32h32v-32h-32v32Zm-64,0h32v-32h-32v32Zm0-64H0v32h32v-32Zm64,0h-32v32h32v-32Z'/%3E%3C/svg%3E");
    background-size: 29px;

    @include breakpoint(600px) {
      display: block;
    }

    &::after {
      content: '';
    }
  }

  .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
    opacity: 0;
  }

  .swiper-button-next {
    transform-origin: center;
    transform: translate(0, 0) rotate(180deg)
  }
}

.caption {
  margin: 0;
  margin: 5px 0 15px 0;

  font-family: monospace;
  font-size: 15px;
  line-height: 20px;

  @include breakpoint(890px) {
    margin-top: 10px;
    font-size: 20px;
    line-height: 25px;
  }
}

section {
  min-height: 70vh;
  margin-bottom: 60px;
  padding: 0 20px;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: white;

  box-shadow:
      -5px 0 0 0 black,
      5px 0 0 0 black,
      0 -5px 0 0 black,
      0 5px 0 0 black,
      0px 10px rgb(160, 160, 160);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    box-shadow: inset -5px -5px rgb(202, 202, 202);
  }

  @include breakpoint(600px) {
    min-height: 90vh;
  }

  @include breakpoint(890px) {
    margin-bottom: 80px;
    padding: 0 40px;

    box-shadow:
      -8px 0 0 0 black,
      8px 0 0 0 black,
      0 -8px 0 0 black,
      0 8px 0 0 black,
      0px 15px rgb(160, 160, 160);

    &::after {
      box-shadow: inset -8px -8px rgb(202, 202, 202);
    }
  }
}

.space {
  margin-top: 20px;

  @include breakpoint(890px) {
    margin-top: 50px;
  }
}