@import './reset.scss';
@import './utilities.scss';

@font-face {
  font-family: 'Forward';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/FFFFORWA.TTF);
}

@keyframes animback {
  0% {
    background-position-y: unset;
  }
  49% {
    background-position-y: unset;
  }
  50% {
    background-position-y: 5px;
  }
  99% {
    background-position-y: 5px;
  }
  100% {
    background-position-y: unset;
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgb(52, 52, 52);
  background-color: #f5f5f5;
  background: linear-gradient(0deg, #d1d1d1, #ffff);

  background-image: url(./assets/background.webp);
  background-size: 115px;

  animation: animback;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {

  min-width: 320px;
  min-height: 100vh;
  margin: 0;

  display: flex;
  place-items: center;
  flex-direction: column;

  position: relative;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    
    z-index: -1;
  }
}

footer {
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 4px solid black;
  background-color: white;

  @include breakpoint(890px) {
    height: 50px;
    border-top: 8px solid black;
  }

  p {
    margin: 0;
    margin: 10px 0 10px 0;

    font-family: monospace;
    font-size: 15px;
    line-height: 20px;

  @include breakpoint(890px) {
      margin-top: 10px;
      font-size: 20px;
      line-height: 25px;
    }
  }
}

h1 {
  font-family: 'Forward';
  font-size: 24px;
  line-height: 37px;

  @include breakpoint(890px) {
    font-size: 40px;
    line-height: 45px;
  }
}

h2 {

  font-family: 'Forward';
  font-size: 16px;
  margin: 30px 0px;

  @include breakpoint(890px) {
    margin: 30px 0;
    font-size: 28px;
    line-height: 45px;
  }
}

p {
  font-family: monospace;
  font-size: 15px;
  line-height: 20px;

  @include breakpoint(890px) {
    font-size: 20px;
    line-height: 25px;
  }
}

.border-retro {

  position: relative;
  padding: 20px;

  box-shadow:
    -5px 0 0 0 black,
    5px 0 0 0 black,
    0 -5px 0 0 black,
    0 5px 0 0 black,
    0px 10px rgb(141, 141, 141);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;

    background-color: white;
    box-shadow: inset -5px -5px rgb(202, 202, 202);
  }


  @include breakpoint(890px) {

    padding: 30px;

    box-shadow:
      -8px 0 0 0 black,
      8px 0 0 0 black,
      0 -8px 0 0 black,
      0 8px 0 0 black,
      0px 15px rgb(141, 141, 141);

    &::before {
      box-shadow: inset -8px -8px rgb(202, 202, 202);
    }

  }

}